<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
</head>

<body>
    <a href="/adminWork/home">Back</a>
    <h1>View FAQ</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Date</th>
                <th>Views</th>
                <th>Actions</th>


            </tr>
        </thead>
        <tbody>
            {% for each in blog %}
            <tr>
                <td>{{each.id}}</td>
                <td>{{each.title}}</td>
                <td>{{each.description}}</td>
                <td>{{each.likeCount}}</td>
                <td>{{each.dislikeCount}}</td>
                <td>{{each.date}}</td>
                <td>{{each.viewCount}}</td>



                <td>
                    <a href="/adminWork/editBlog?id={{each.id}}">Edit</a>
                    <a href="/adminWork/deleteBlog?id={{each.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>

</html>